HTとDAI用データセットの作成

Original Data DL: https://sample-data-open.s3.ap-northeast-1.amazonaws.com/productdefect_classification_6classes/Product_defect_classification.zip

In [61]:
import os
import shutil

import pandas as pd
import numpy as np

In [4]:
!ls tmp/normal_defect

normal_defect_dataset.csv      normal_defect_dataset_test.csv
normal_defect_dataset2.csv     normaldefect_image

In [8]:
!ls -l tmp/normal_defect/normaldefect_image | wc -l

    2101

In [74]:
d1 = pd.read_csv('tmp/normal_defect/normal_defect_dataset.csv')
d2 = pd.read_csv('tmp/normal_defect/normal_defect_dataset2.csv')
d3 = pd.read_csv('tmp/normal_defect/normal_defect_dataset_test.csv')

print(d1.shape)
display(d1.head())
display(d1.tail())

print(d2.shape)
display(d2.head())
display(d2.tail())

print(d3.shape)
display(d3.head())

(1680, 3)

   Unnamed: 0 images    label
0           0  1.jpg  crazing
1           1  2.jpg  crazing
2           2  3.jpg  crazing
3           3  4.jpg  crazing
4           4  5.jpg  crazing

      Unnamed: 0    images   label
1675        1675  2036.jpg  normal
1676        1676  2037.jpg  normal
1677        1677  2038.jpg  normal
1678        1678  2039.jpg  normal
1679        1679  2040.jpg  normal

(420, 3)

   Unnamed: 0    images    label
0           0  1441.jpg  crazing
1           1  1442.jpg  crazing
2           2  1443.jpg  crazing
3           3  1444.jpg  crazing
4           4  1445.jpg  crazing

     Unnamed: 0    images   label
415         415  2096.jpg  normal
416         416  2097.jpg  normal
417         417  2098.jpg  normal
418         418  2099.jpg  normal
419         419  2100.jpg  normal

(420, 2)

   Unnamed: 0    images
0           0  1441.jpg
1           1  1442.jpg
2           2  1443.jpg
3           3  1444.jpg
4           4  1445.jpg

In [11]:
d1.shape[0] + d2.shape[0]

2100

In [18]:
d_train = d1
d_test = d2

In [23]:
d_train = d_train.drop('Unnamed: 0', axis=1)
d_test = d_test.drop('Unnamed: 0', axis=1)

In [27]:
d_train['label'].value_counts()

crazing           240
inclusion         240
patches           240
pitted_surface    240
rolledin_scale    240
scratches         240
normal            240
Name: label, dtype: int64

In [29]:
d_train['images'].nunique()

1680

In [28]:
d_test['label'].value_counts()

crazing           60
inclusion         60
patches           60
pitted_surface    60
rolledin_scale    60
scratches         60
normal            60
Name: label, dtype: int64

In [30]:
d_test['images'].nunique()

420

### HT Dataset

In [25]:
d_train.to_csv('tmp/prodDefect_classification_6classes_HT/train.csv', index=False)
d_test.to_csv('tmp/prodDefect_classification_6classes_HT/test.csv', index=False)

In [40]:
!cp -r tmp/normal_defect/normaldefect_image tmp/prodDefect_classification_6classes_HT

### DAI Dataset

In [32]:
d_train.to_csv('tmp/prodDefect_classification_6classes_DAI/prodDefect_classification_6classes_DAI_Train/train.csv', index=False)
d_test.to_csv('tmp/prodDefect_classification_6classes_DAI/prodDefect_classification_6classes_DAI_Test/test.csv', index=False)

In [54]:
# Train image copy
for im in d_train['images']:
    from_dir = os.path.join('tmp', 'normal_defect', 'normaldefect_image', im)
    #print(from_dir)
    to_dir = os.path.join('tmp', 'prodDefect_classification_6classes_DAI', 'prodDefect_classification_6classes_DAI_Train', 'images', im)
    #print(to_dir)
    shutil.copy(from_dir, to_dir)

In [55]:
! ls -l tmp/prodDefect_classification_6classes_DAI/prodDefect_classification_6classes_DAI_Train/images | wc -l

    2101

In [56]:
# Test image copy
for im in d_test['images']:
    from_dir = os.path.join('tmp', 'normal_defect', 'normaldefect_image', im)
    #print(from_dir)
    to_dir = os.path.join('tmp', 'prodDefect_classification_6classes_DAI', 'prodDefect_classification_6classes_DAI_Test', 'images', im)
    #print(to_dir)
    shutil.copy(from_dir, to_dir)

In [57]:
! ls -l tmp/prodDefect_classification_6classes_DAI/prodDefect_classification_6classes_DAI_Test/images | wc -l

     421