https://auto.gluon.ai/stable/tutorials/timeseries/forecasting-chronos.html#incorporating-the-covariates

The predictions of the covariate regressor are subtracted from the target column, and the univariate model then forecasts the residuals.

In [1]:
import datetime

import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
from sklearn.metrics import root_mean_squared_error

In [2]:
# Experiment設定
EXPERIMENT_NAME = 'ChronosBolt_0shot_covariate'
MODEL = "bolt_base"
FORECAST_HORIZON = 6

In [3]:
df_train = pd.read_csv('../data/walmart_ts_6_fcst_grp_train.csv')
df_test = pd.read_csv('../data/walmart_ts_6_fcst_grp_test.csv')
print(df_train.shape, df_test.shape)
#df_train.head()

# 日付カラムを型変換する場合
#df_train['Date'] = pd.to_datetime(df_train['Date'])
#df_test['Date'] = pd.to_datetime(df_test['Date'])

# 単一のグループIDを作成
df_train['Store_Dept'] = [str(i)+'_'+str(j) for i,j in zip(df_train['Store'], df_train['Dept'])]
df_test['Store_Dept'] = [str(i)+'_'+str(j) for i,j in zip(df_test['Store'], df_test['Dept'])]

# 利用カラムのみを選択
df_train = df_train[['Store_Dept','Date','Weekly_Sales', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday']]
df_test = df_test[['Store_Dept','Date','Weekly_Sales', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday']]
print(df_train.shape, df_test.shape)
df_train.head()

(702, 11) (36, 11)
(702, 9) (36, 9)

,Store_Dept,Date,Weekly_Sales,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,IsHoliday
0,4_4,2010/2/5,59554.57,-1.0,-1.0,-1.0,-1.0,-1.0,0
1,4_4,2010/2/12,54069.82,-1.0,-1.0,-1.0,-1.0,-1.0,1
2,4_4,2010/2/19,53939.17,-1.0,-1.0,-1.0,-1.0,-1.0,0
3,4_4,2010/2/26,54687.08,-1.0,-1.0,-1.0,-1.0,-1.0,0
4,4_4,2010/3/5,56959.02,-1.0,-1.0,-1.0,-1.0,-1.0,0

In [4]:
# TimeSeriesDataFrameへ変換
train_data = TimeSeriesDataFrame.from_data_frame(
    df_train,
    id_column='Store_Dept',
    timestamp_column="Date"
)
print(type(train_data))
train_data.head()

<class 'autogluon.timeseries.dataset.ts_dataframe.TimeSeriesDataFrame'>

                    Weekly_Sales  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
item_id timestamp
4_4     2010-02-05      59554.57       -1.0       -1.0       -1.0       -1.0
        2010-02-12      54069.82       -1.0       -1.0       -1.0       -1.0
        2010-02-19      53939.17       -1.0       -1.0       -1.0       -1.0
        2010-02-26      54687.08       -1.0       -1.0       -1.0       -1.0
        2010-03-05      56959.02       -1.0       -1.0       -1.0       -1.0

                    MarkDown5  IsHoliday
item_id timestamp
4_4     2010-02-05       -1.0          0
        2010-02-12       -1.0          1
        2010-02-19       -1.0          0
        2010-02-26       -1.0          0
        2010-03-05       -1.0          0

In [5]:
test_data = TimeSeriesDataFrame.from_data_frame(
    df_test,
    #id_column=['Store', 'Dept'],
    id_column='Store_Dept',
    timestamp_column="Date"
)
test_data.head()

                    Weekly_Sales  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
item_id timestamp
4_4     2012-05-04      60576.41   13737.91       -1.0      93.65    6993.97
        2012-05-11      57583.94   20499.88       86.0     103.05    5005.96
        2012-05-18      60832.91    6531.12       -1.0      99.91    2290.18
        2012-05-25      57781.87    4330.02      436.0     862.31    3268.41
        2012-06-01      62758.52   10165.22        8.6      47.93    2676.33

                    MarkDown5  IsHoliday
item_id timestamp
4_4     2012-05-04    4541.89          0
        2012-05-11    3815.16          0
        2012-05-18    2521.84          0
        2012-05-25    3749.53          0
        2012-06-01    4896.34          0

In [8]:
predictor = TimeSeriesPredictor(
    prediction_length=FORECAST_HORIZON,
    target="Weekly_Sales",
    known_covariates_names=['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday'],
).fit(
    train_data,
    hyperparameters={
        "Chronos": [
            # Zero-shot model WITHOUT covariates
            {
                "model_path": "bolt_small",
                "ag_args": {"name_suffix": "ZeroShot"},
            },
            # Chronos-Bolt (Small) combined with CatBoost on covariates
            {
                "model_path": "bolt_small",
                "covariate_regressor": "CAT",
                "target_scaler": "standard",
                "ag_args": {"name_suffix": "WithRegressor"},
            },
        ],
    },
    enable_ensemble=False,
    time_limit=60,
)

Beginning AutoGluon training... Time limit = 60s
AutoGluon will save models to '/Users/YShimada-MBP16/Documents/Code_Github/DL_for_ImageData_and_Finetuning/TimeSeries_WM_simple/code/AutogluonModels/ag-20250228_055457'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.10.14
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 24.3.0: Thu Jan  2 20:22:00 PST 2025; root:xnu-11215.81.4~3/RELEASE_X86_64
CPU Count:          16
GPU Count:          0
Memory Avail:       14.32 GB / 32.00 GB (44.8%)
Disk Space Avail:   1433.46 GB / 1863.39 GB (76.9%)
===================================================

Fitting with arguments:
{'enable_ensemble': False,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': [{'ag_args': {'name_suffix': 'ZeroShot'},
                                  'model_path': 'bolt_small'},
                                 {'ag_args': {'name_suffix': 'WithRegressor'},
                                  'covariate_regressor': 'CAT',
                                  'model_path': 'bolt_small',
                                  'target_scaler': 'standard'}]},
 'known_covariates_names': ['MarkDown1',
                            'MarkDown2',
                            'MarkDown3',
                            'MarkDown4',
                            'MarkDown5',
                            'IsHoliday'],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'Weekly_Sales',
 'time_limit': 60,
 'verbosity': 2}

Inferred time series frequency: 'W-FRI'
Provided train_data has 702 rows, 6 time series. Median time series length is 117 (min=117, max=117).

Provided data contains following columns:
	target: 'Weekly_Sales'
	known_covariates:
		categorical:        []
		continuous (float): ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-02-28 14:54:59
Models that will be trained: ['ChronosZeroShot[bolt_small]', 'ChronosWithRegressor[bolt_small]']
Training timeseries model ChronosZeroShot[bolt_small]. Training for up to 29.4s of the 58.7s of remaining time.
	-0.0356       = Validation score (-WQL)
	3.28    s     = Training runtime
	1.56    s     = Validation (prediction) runtime
Training timeseries model ChronosWithRegressor[bolt_small]. Training for up to 53.8s of the 53.8s of remaining time.
	-0.0333       = Validation score (-WQL)
	1.32    s     = Training runtime
	1.27    s     = Validation (prediction) runtime
Training complete. Models trained: ['ChronosZeroShot[bolt_small]', 'ChronosWithRegressor[bolt_small]']
Total runtime: 7.46 s
Best model: ChronosWithRegressor[bolt_small]
Best model score: -0.0333

In [12]:
predictor.model_names()

['ChronosZeroShot[bolt_small]', 'ChronosWithRegressor[bolt_small]']

In [14]:
predictor.leaderboard(train_data)

Additional data provided, testing on additional data. Resulting leaderboard will be sorted according to test score (`score_test`).

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time_marginal,fit_order
0,ChronosWithRegressor[bolt_small],-0.033255,-0.033255,1.072695,1.006809,2.649229,2
1,ChronosZeroShot[bolt_small],-0.035596,-0.035596,1.188568,1.478391,4.070458,1

In [19]:
predictor.predict(train_data, known_covariates=test_data)

Model not specified in predict, will default to the model with the best validation score: ChronosWithRegressor[bolt_small]

                            mean           0.1           0.2           0.3  \
item_id timestamp
4_4     2012-05-04  57491.403139  54222.848723  55230.357360  56030.077945
        2012-05-11  57509.401190  54167.476679  55188.990673  56001.909467
        2012-05-18  55984.466534  52616.551695  53646.245062  54470.128956
        2012-05-25  61883.195367  58485.224094  59552.735678  60371.336170
        2012-06-01  57250.852410  53851.109956  54921.445141  55750.607825
        2012-06-08  58776.708518  55380.328737  56462.463486  57287.758271
8_13    2012-05-04  24046.211716  22581.393880  23056.592754  23416.871442
        2012-05-11  24325.578075  22771.370379  23264.669280  23649.588136
        2012-05-18  24831.852307  23250.857501  23754.341518  24144.856651
        2012-05-25  25283.201642  23688.794472  24204.271655  24594.035570
        2012-06-01  24094.569671  22509.670855  23022.031433  23411.142391
        2012-06-08  25252.827855  23667.935752  24181.904863  24572.698446
1_13    2012-05-04  40932.594290  38918.087362  39581.916155  40054.656163
        2012-05-11  40556.059505  38357.269049  39082.069812  39617.365148
        2012-05-18  39841.872976  37479.989892  38265.272755  38839.381856
        2012-05-25  41403.264180  38793.114858  39651.237472  40279.334211
        2012-06-01  40497.770957  37739.852636  38667.167999  39332.889133
        2012-06-08  42047.373599  39081.013205  40071.936598  40783.805851
13_8    2012-05-04  34826.111262  32831.259625  33487.475240  33979.120163
        2012-05-11  34572.934390  32525.359709  33196.178886  33702.378892
        2012-05-18  34051.954681  31992.496210  32671.238107  33179.586968
        2012-05-25  35075.371582  33002.710864  33696.242700  34201.479720
        2012-06-01  34680.861722  32617.617937  33309.571642  33815.027679
        2012-06-08  35851.236615  33786.194086  34482.554624  34991.099327
19_8    2012-05-04  43132.679573  40834.004246  41608.452938  42173.490996
        2012-05-11  41564.868582  39151.555829  39958.415371  40553.935288
        2012-05-18  41733.824871  39257.816241  40082.333324  40696.016505
        2012-05-25  44454.533999  41946.615925  42796.316252  43409.785918
        2012-06-01  40865.171099  38371.801652  39218.884756  39833.018320
        2012-06-08  42680.608327  40167.870260  41031.153982  41654.260261
31_13   2012-05-04  43282.465845  41041.684998  41789.688747  42351.183854
        2012-05-11  43081.079756  40623.556008  41424.623450  42041.060231
        2012-05-18  44147.978449  41596.154587  42420.684769  43061.939784
        2012-05-25  44143.226791  41547.077854  42395.630033  43044.570116
        2012-06-01  42700.539755  40094.236050  40949.168652  41603.055447
        2012-06-08  43451.860356  40808.462811  41676.036316  42340.932653

                             0.4           0.5           0.6           0.7  \
item_id timestamp
4_4     2012-05-04  56772.898075  57491.403139  58254.277402  59115.951709
        2012-05-11  56762.576704  57509.401190  58301.842577  59208.457767
        2012-05-18  55235.069209  55984.466534  56785.208777  57702.725857
        2012-05-25  61133.419430  61883.195367  62680.578055  63611.634569
        2012-06-01  56511.045414  57250.852410  58061.446463  59015.533020
        2012-06-08  58041.467265  58776.708518  59585.228136  60537.039909
8_13    2012-05-04  23739.147047  24046.211716  24364.729557  24725.791425
        2012-05-11  23994.649285  24325.578075  24667.797855  25059.600061
        2012-05-18  24496.488186  24831.852307  25182.537202  25581.353288
        2012-05-25  24946.662257  25283.201642  25634.573999  26035.646116
        2012-06-01  23761.716171  24094.569671  24448.794106  24859.151059
        2012-06-08  24920.096277  25252.827855  25606.949825  26013.972432
1_13    2012-05-04  40498.798207  40932.594290  41404.152159  41973.621356
        2012-05-11  40092.327126  40556.059505  41056.998900  41663.361429
        2012-05-18  39350.040131  39841.872976  40384.991198  41008.438922
        2012-05-25  40871.872479  41403.264180  41968.747020  42617.452232
        2012-06-01  39923.549774  40497.770957  41132.488341  41870.965273
        2012-06-08  41440.864713  42047.373599  42743.426569  43509.455705
13_8    2012-05-04  34412.147273  34826.111262  35254.779727  35744.130651
        2012-05-11  34149.396157  34572.934390  35019.122705  35520.556062
        2012-05-18  33627.753404  34051.954681  34498.610004  35005.494395
        2012-05-25  34651.212989  35075.371582  35521.759699  36032.231872
        2012-06-01  34259.369787  34680.861722  35127.339551  35648.199467
        2012-06-08  35433.998355  35851.236615  36294.687149  36810.909865
19_8    2012-05-04  42667.712065  43132.679573  43614.481962  44162.026932
        2012-05-11  41072.793157  41564.868582  42073.126079  42656.819778
        2012-05-18  41230.612246  41733.824871  42255.006772  42849.207922
        2012-05-25  43950.669055  44454.533999  44980.069204  45579.171574
        2012-06-01  40368.435640  40865.171099  41387.360425  41998.394886
        2012-06-08  42183.577942  42680.608327  43204.524541  43818.949479
31_13   2012-05-04  42836.445038  43282.465845  43735.410442  44228.662738
        2012-05-11  42580.105827  43081.079756  43581.342740  44128.847157
        2012-05-18  43625.604664  44147.978449  44672.798389  45243.463228
        2012-05-25  43611.323855  44143.226791  44668.132980  45236.404152
        2012-06-01  42175.463937  42700.539755  43230.304014  43818.216390
        2012-06-08  42920.649092  43451.860356  43990.274046  44579.259759

                             0.8           0.9
item_id timestamp
4_4     2012-05-04  60186.868712  61866.259998
        2012-05-11  60331.351270  62131.952884
        2012-05-18  58850.026512  60732.885444
        2012-05-25  64800.750943  66744.853896
        2012-06-01  60241.142862  62288.443670
        2012-06-08  61783.876130  63917.615607
8_13    2012-05-04  25178.195774  25886.882371
        2012-05-11  25547.191305  26325.132790
        2012-05-18  26078.940833  26886.628956
        2012-05-25  26549.518728  27378.096300
        2012-06-01  25382.392591  26233.885663
        2012-06-08  26545.341508  27427.013883
1_13    2012-05-04  42726.369286  43959.696019
        2012-05-11  42483.053960  43786.761222
        2012-05-18  41807.193097  43150.501301
        2012-05-25  43487.945224  44956.634815
        2012-06-01  42835.830407  44474.433065
        2012-06-08  44556.543584  46387.925187
13_8    2012-05-04  36350.922168  37303.542303
        2012-05-11  36154.725345  37160.785018
        2012-05-18  35644.770347  36688.502967
        2012-05-25  36692.090315  37753.231634
        2012-06-01  36315.466833  37421.995567
        2012-06-08  37485.695713  38623.934689
19_8    2012-05-04  44845.581886  45954.136394
        2012-05-11  43392.187644  44608.729423
        2012-05-18  43602.111361  44890.213504
        2012-05-25  46358.222998  47695.493257
        2012-06-01  42791.375685  44169.580109
        2012-06-08  44634.358830  46080.316464
31_13   2012-05-04  44826.004552  45710.484697
        2012-05-11  44777.126289  45756.961638
        2012-05-18  45913.056822  46937.927060
        2012-05-25  45928.772027  46981.759103
        2012-06-01  44525.134074  45599.999856
        2012-06-08  45306.015955  46428.186183

In [10]:
%%time

log_dir = EXPERIMENT_NAME +'_'+ datetime.datetime.now().strftime('%Y-%m-%d_%Hh%Mm%Ss')
print(log_dir)

predictor = TimeSeriesPredictor(
    target="Weekly_Sales",
    eval_metric="RMSE",
    prediction_length=FORECAST_HORIZON,
    path="./tmp/"+log_dir,
    
    known_covariates_names=['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday'],
).fit(
    train_data,
    hyperparameters={
        "Chronos": [
            {
                "model_path": MODEL,
                #"model_path": "bolt_small",
                #"covariate_regressor": "XGB",  # XGBoost  -> カーネルが落ちてしまう、、。
                "covariate_regressor": "CAT",  # CatBoost
                "target_scaler": "standard",
                "ag_args": {"name_suffix": "WithRegressor"},
            },
        ],
    },
    enable_ensemble=False,
    time_limit=60,
)

Beginning AutoGluon training... Time limit = 60s
AutoGluon will save models to '/Users/YShimada-MBP16/Documents/Code_Github/DL_for_ImageData_and_Finetuning/TimeSeries_WM_simple/code/tmp/ChronosBolt_0shot_covariate_2025-02-28_15h00m59s'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.10.14
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 24.3.0: Thu Jan  2 20:22:00 PST 2025; root:xnu-11215.81.4~3/RELEASE_X86_64
CPU Count:          16
GPU Count:          0
Memory Avail:       14.21 GB / 32.00 GB (44.4%)
Disk Space Avail:   1433.49 GB / 1863.39 GB (76.9%)
===================================================

Fitting with arguments:
{'enable_ensemble': False,
 'eval_metric': RMSE,
 'hyperparameters': {'Chronos': [{'ag_args': {'name_suffix': 'WithRegressor'},
                                  'covariate_regressor': 'CAT',
                                  'model_path': 'bolt_small',
                                  'target_scaler': 'standard'}]},
 'known_covariates_names': ['MarkDown1',
                            'MarkDown2',
                            'MarkDown3',
                            'MarkDown4',
                            'MarkDown5',
                            'IsHoliday'],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'Weekly_Sales',
 'time_limit': 60,
 'verbosity': 2}

Inferred time series frequency: 'W-FRI'
Provided train_data has 702 rows, 6 time series. Median time series length is 117 (min=117, max=117).

Provided data contains following columns:
	target: 'Weekly_Sales'
	known_covariates:
		categorical:        []
		continuous (float): ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-02-28 15:00:59
Models that will be trained: ['ChronosWithRegressor[bolt_small]']
Training timeseries model ChronosWithRegressor[bolt_small]. Training for up to 60.0s of the 60.0s of remaining time.

ChronosBolt_0shot_covariate_2025-02-28_15h00m59s

	-2425.8846    = Validation score (-RMSE)
	1.04    s     = Training runtime
	1.19    s     = Validation (prediction) runtime
Training complete. Models trained: ['ChronosWithRegressor[bolt_small]']
Total runtime: 2.24 s
Best model: ChronosWithRegressor[bolt_small]
Best model score: -2425.8846

CPU times: user 4.05 s, sys: 860 ms, total: 4.91 s
Wall time: 2.37 s

In [11]:
predictor.predict(train_data, known_covariates=test_data)

Model not specified in predict, will default to the model with the best validation score: ChronosWithRegressor[bolt_small]

                            mean           0.1           0.2           0.3  \
item_id timestamp
4_4     2012-05-04  57491.403139  54222.848723  55230.357360  56030.077945
        2012-05-11  57509.401190  54167.476679  55188.990673  56001.909467
        2012-05-18  55984.466534  52616.551695  53646.245062  54470.128956
        2012-05-25  61883.195367  58485.224094  59552.735678  60371.336170
        2012-06-01  57250.852410  53851.109956  54921.445141  55750.607825
        2012-06-08  58776.708518  55380.328737  56462.463486  57287.758271
8_13    2012-05-04  24046.211716  22581.393880  23056.592754  23416.871442
        2012-05-11  24325.578075  22771.370379  23264.669280  23649.588136
        2012-05-18  24831.852307  23250.857501  23754.341518  24144.856651
        2012-05-25  25283.201642  23688.794472  24204.271655  24594.035570
        2012-06-01  24094.569671  22509.670855  23022.031433  23411.142391
        2012-06-08  25252.827855  23667.935752  24181.904863  24572.698446
1_13    2012-05-04  40932.594290  38918.087362  39581.916155  40054.656163
        2012-05-11  40556.059505  38357.269049  39082.069812  39617.365148
        2012-05-18  39841.872976  37479.989892  38265.272755  38839.381856
        2012-05-25  41403.264180  38793.114858  39651.237472  40279.334211
        2012-06-01  40497.770957  37739.852636  38667.167999  39332.889133
        2012-06-08  42047.373599  39081.013205  40071.936598  40783.805851
13_8    2012-05-04  34826.111262  32831.259625  33487.475240  33979.120163
        2012-05-11  34572.934390  32525.359709  33196.178886  33702.378892
        2012-05-18  34051.954681  31992.496210  32671.238107  33179.586968
        2012-05-25  35075.371582  33002.710864  33696.242700  34201.479720
        2012-06-01  34680.861722  32617.617937  33309.571642  33815.027679
        2012-06-08  35851.236615  33786.194086  34482.554624  34991.099327
19_8    2012-05-04  43132.679573  40834.004246  41608.452938  42173.490996
        2012-05-11  41564.868582  39151.555829  39958.415371  40553.935288
        2012-05-18  41733.824871  39257.816241  40082.333324  40696.016505
        2012-05-25  44454.533999  41946.615925  42796.316252  43409.785918
        2012-06-01  40865.171099  38371.801652  39218.884756  39833.018320
        2012-06-08  42680.608327  40167.870260  41031.153982  41654.260261
31_13   2012-05-04  43282.465845  41041.684998  41789.688747  42351.183854
        2012-05-11  43081.079756  40623.556008  41424.623450  42041.060231
        2012-05-18  44147.978449  41596.154587  42420.684769  43061.939784
        2012-05-25  44143.226791  41547.077854  42395.630033  43044.570116
        2012-06-01  42700.539755  40094.236050  40949.168652  41603.055447
        2012-06-08  43451.860356  40808.462811  41676.036316  42340.932653

                             0.4           0.5           0.6           0.7  \
item_id timestamp
4_4     2012-05-04  56772.898075  57491.403139  58254.277402  59115.951709
        2012-05-11  56762.576704  57509.401190  58301.842577  59208.457767
        2012-05-18  55235.069209  55984.466534  56785.208777  57702.725857
        2012-05-25  61133.419430  61883.195367  62680.578055  63611.634569
        2012-06-01  56511.045414  57250.852410  58061.446463  59015.533020
        2012-06-08  58041.467265  58776.708518  59585.228136  60537.039909
8_13    2012-05-04  23739.147047  24046.211716  24364.729557  24725.791425
        2012-05-11  23994.649285  24325.578075  24667.797855  25059.600061
        2012-05-18  24496.488186  24831.852307  25182.537202  25581.353288
        2012-05-25  24946.662257  25283.201642  25634.573999  26035.646116
        2012-06-01  23761.716171  24094.569671  24448.794106  24859.151059
        2012-06-08  24920.096277  25252.827855  25606.949825  26013.972432
1_13    2012-05-04  40498.798207  40932.594290  41404.152159  41973.621356
        2012-05-11  40092.327126  40556.059505  41056.998900  41663.361429
        2012-05-18  39350.040131  39841.872976  40384.991198  41008.438922
        2012-05-25  40871.872479  41403.264180  41968.747020  42617.452232
        2012-06-01  39923.549774  40497.770957  41132.488341  41870.965273
        2012-06-08  41440.864713  42047.373599  42743.426569  43509.455705
13_8    2012-05-04  34412.147273  34826.111262  35254.779727  35744.130651
        2012-05-11  34149.396157  34572.934390  35019.122705  35520.556062
        2012-05-18  33627.753404  34051.954681  34498.610004  35005.494395
        2012-05-25  34651.212989  35075.371582  35521.759699  36032.231872
        2012-06-01  34259.369787  34680.861722  35127.339551  35648.199467
        2012-06-08  35433.998355  35851.236615  36294.687149  36810.909865
19_8    2012-05-04  42667.712065  43132.679573  43614.481962  44162.026932
        2012-05-11  41072.793157  41564.868582  42073.126079  42656.819778
        2012-05-18  41230.612246  41733.824871  42255.006772  42849.207922
        2012-05-25  43950.669055  44454.533999  44980.069204  45579.171574
        2012-06-01  40368.435640  40865.171099  41387.360425  41998.394886
        2012-06-08  42183.577942  42680.608327  43204.524541  43818.949479
31_13   2012-05-04  42836.445038  43282.465845  43735.410442  44228.662738
        2012-05-11  42580.105827  43081.079756  43581.342740  44128.847157
        2012-05-18  43625.604664  44147.978449  44672.798389  45243.463228
        2012-05-25  43611.323855  44143.226791  44668.132980  45236.404152
        2012-06-01  42175.463937  42700.539755  43230.304014  43818.216390
        2012-06-08  42920.649092  43451.860356  43990.274046  44579.259759

                             0.8           0.9
item_id timestamp
4_4     2012-05-04  60186.868712  61866.259998
        2012-05-11  60331.351270  62131.952884
        2012-05-18  58850.026512  60732.885444
        2012-05-25  64800.750943  66744.853896
        2012-06-01  60241.142862  62288.443670
        2012-06-08  61783.876130  63917.615607
8_13    2012-05-04  25178.195774  25886.882371
        2012-05-11  25547.191305  26325.132790
        2012-05-18  26078.940833  26886.628956
        2012-05-25  26549.518728  27378.096300
        2012-06-01  25382.392591  26233.885663
        2012-06-08  26545.341508  27427.013883
1_13    2012-05-04  42726.369286  43959.696019
        2012-05-11  42483.053960  43786.761222
        2012-05-18  41807.193097  43150.501301
        2012-05-25  43487.945224  44956.634815
        2012-06-01  42835.830407  44474.433065
        2012-06-08  44556.543584  46387.925187
13_8    2012-05-04  36350.922168  37303.542303
        2012-05-11  36154.725345  37160.785018
        2012-05-18  35644.770347  36688.502967
        2012-05-25  36692.090315  37753.231634
        2012-06-01  36315.466833  37421.995567
        2012-06-08  37485.695713  38623.934689
19_8    2012-05-04  44845.581886  45954.136394
        2012-05-11  43392.187644  44608.729423
        2012-05-18  43602.111361  44890.213504
        2012-05-25  46358.222998  47695.493257
        2012-06-01  42791.375685  44169.580109
        2012-06-08  44634.358830  46080.316464
31_13   2012-05-04  44826.004552  45710.484697
        2012-05-11  44777.126289  45756.961638
        2012-05-18  45913.056822  46937.927060
        2012-05-25  45928.772027  46981.759103
        2012-06-01  44525.134074  45599.999856
        2012-06-08  45306.015955  46428.186183

## Finetune

In [12]:
%%time

log_dir = EXPERIMENT_NAME +'_'+ datetime.datetime.now().strftime('%Y-%m-%d_%Hh%Mm%Ss')
print(log_dir)

predictor = TimeSeriesPredictor(
    target="Weekly_Sales",
    eval_metric="RMSE",
    prediction_length=FORECAST_HORIZON,
    path="./tmp/"+log_dir,
    
    known_covariates_names=['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday'],
).fit(
    train_data,
    hyperparameters={
        "Chronos": [
            {
                "model_path": MODEL,
                #"model_path": "bolt_small",
                #"covariate_regressor": "XGB",  # XGBoost  -> カーネルが落ちてしまう、、。
                "covariate_regressor": "CAT",  # CatBoost
                "target_scaler": "standard",
                "fine_tune": True, 
                "ag_args": {"name_suffix": "WithRegressorFineTune"},
            },
        ],
    },
    enable_ensemble=False,
    time_limit=60,
)

Beginning AutoGluon training... Time limit = 60s
AutoGluon will save models to '/Users/YShimada-MBP16/Documents/Code_Github/DL_for_ImageData_and_Finetuning/TimeSeries_WM_simple/code/tmp/ChronosBolt_0shot_covariate_2025-02-28_15h04m24s'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.10.14
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 24.3.0: Thu Jan  2 20:22:00 PST 2025; root:xnu-11215.81.4~3/RELEASE_X86_64
CPU Count:          16
GPU Count:          0
Memory Avail:       14.15 GB / 32.00 GB (44.2%)
Disk Space Avail:   1433.50 GB / 1863.39 GB (76.9%)
===================================================

Fitting with arguments:
{'enable_ensemble': False,
 'eval_metric': RMSE,
 'hyperparameters': {'Chronos': [{'ag_args': {'name_suffix': 'WithRegressorFineTune'},
                                  'covariate_regressor': 'CAT',
                                  'fine_tune': True,
                                  'model_path': 'bolt_base',
                                  'target_scaler': 'standard'}]},
 'known_covariates_names': ['MarkDown1',
                            'MarkDown2',
                            'MarkDown3',
                            'MarkDown4',
                            'MarkDown5',
                            'IsHoliday'],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'Weekly_Sales',
 'time_limit': 60,
 'verbosity': 2}

Inferred time series frequency: 'W-FRI'
Provided train_data has 702 rows, 6 time series. Median time series length is 117 (min=117, max=117).

Provided data contains following columns:
	target: 'Weekly_Sales'
	known_covariates:
		categorical:        []
		continuous (float): ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-02-28 15:04:24
Models that will be trained: ['ChronosWithRegressorFineTune[bolt_base]']
Training timeseries model ChronosWithRegressorFineTune[bolt_base]. Training for up to 60.0s of the 60.0s of remaining time.

ChronosBolt_0shot_covariate_2025-02-28_15h04m24s

	Fine-tuning on the CPU detected. We recommend using a GPU for faster fine-tuning of Chronos.
	Saving fine-tuned model to /Users/YShimada-MBP16/Documents/Code_Github/DL_for_ImageData_and_Finetuning/TimeSeries_WM_simple/code/tmp/ChronosBolt_0shot_covariate_2025-02-28_15h04m24s/models/ChronosWithRegressorFineTune[bolt_base]/W0/fine-tuned-ckpt
	-2427.7808    = Validation score (-RMSE)
	51.03   s     = Training runtime
	0.19    s     = Validation (prediction) runtime
Training complete. Models trained: ['ChronosWithRegressorFineTune[bolt_base]']
Total runtime: 51.24 s
Best model: ChronosWithRegressorFineTune[bolt_base]
Best model score: -2427.7808

CPU times: user 5min 26s, sys: 26.7 s, total: 5min 53s
Wall time: 51.4 s

In [13]:
predictor.predict(train_data, known_covariates=test_data)

Model not specified in predict, will default to the model with the best validation score: ChronosWithRegressorFineTune[bolt_base]

                            mean           0.1           0.2           0.3  \
item_id timestamp
4_4     2012-05-04  57799.759006  54978.919943  55850.640075  56498.387089
        2012-05-11  58189.506089  55299.605612  56164.171796  56866.927217
        2012-05-18  56828.868308  53825.784341  54743.393670  55459.566847
        2012-05-25  62825.036965  59805.663373  60733.501304  61464.950600
        2012-06-01  58548.645713  55344.821424  56348.331454  57106.240834
        2012-06-08  59600.066982  56509.092333  57499.243010  58247.983158
8_13    2012-05-04  23973.659727  22594.983428  23060.921855  23393.154007
        2012-05-11  24264.628762  22818.058432  23295.900657  23655.420731
        2012-05-18  24777.288393  23281.016464  23784.124696  24152.220562
        2012-05-25  25212.369313  23723.495787  24226.504702  24595.708818
        2012-06-01  24070.222260  22560.019556  23069.871847  23441.116807
        2012-06-08  25184.672104  23688.736009  24204.708985  24575.019192
1_13    2012-05-04  40964.332140  38821.314208  39580.349322  40074.948059
        2012-05-11  40415.041601  38213.759743  38971.522870  39518.908016
        2012-05-18  39598.048726  37406.837830  38172.261072  38700.422933
        2012-05-25  41114.719808  38882.245685  39641.822299  40182.040997
        2012-06-01  40255.053788  37706.212429  38570.470193  39171.023405
        2012-06-08  41910.954670  39277.651817  40221.126218  40848.200769
13_8    2012-05-04  34840.591215  33159.129003  33719.833945  34130.191079
        2012-05-11  34634.770849  32913.803776  33491.874348  33920.456577
        2012-05-18  34103.746991  32329.530380  32944.782748  33386.427103
        2012-05-25  35256.536221  33459.468085  34084.675179  34527.481453
        2012-06-01  35146.525219  33282.910853  33930.052259  34391.331230
        2012-06-08  36383.033895  34484.600343  35164.311600  35633.056760
19_8    2012-05-04  42923.204226  40704.096698  41452.336080  41990.735638
        2012-05-11  41386.311397  39094.376302  39852.704445  40426.221956
        2012-05-18  41499.577267  39174.787317  39961.009731  40535.574798
        2012-05-25  44353.302366  42032.006462  42817.337040  43389.761859
        2012-06-01  40874.401878  38525.076882  39320.724553  39893.278501
        2012-06-08  42636.881496  40267.866530  41083.099653  41671.801232
31_13   2012-05-04  42560.591434  40624.057786  41296.014155  41759.402750
        2012-05-11  42827.752960  40696.517467  41413.409629  41947.146395
        2012-05-18  44415.569549  42126.626749  42922.494745  43480.882200
        2012-05-25  44221.865008  41999.426905  42776.995966  43330.413609
        2012-06-01  42567.587497  40326.445249  41121.694052  41674.775650
        2012-06-08  43294.058632  41014.266222  41840.215286  42411.269462

                             0.4           0.5           0.6           0.7  \
item_id timestamp
4_4     2012-05-04  57119.902140  57799.759006  58517.426033  59345.850140
        2012-05-11  57493.578658  58189.506089  58933.595066  59787.407673
        2012-05-18  56153.898045  56828.868308  57546.641746  58380.328597
        2012-05-25  62143.583022  62825.036965  63552.290098  64418.245281
        2012-06-01  57828.665054  58548.645713  59305.550293  60199.999781
        2012-06-08  58909.591340  59600.066982  60376.332691  61272.861031
8_13    2012-05-04  23684.946812  23973.659727  24265.109852  24598.641448
        2012-05-11  23961.297908  24264.628762  24578.567052  24936.703201
        2012-05-18  24477.200139  24777.288393  25087.673716  25441.566917
        2012-05-25  24914.763130  25212.369313  25523.511951  25888.885972
        2012-06-01  23762.637144  24070.222260  24383.722206  24755.051163
        2012-06-08  24886.699116  25184.672104  25507.590167  25879.709170
1_13    2012-05-04  40511.617779  40964.332140  41415.242922  41943.301089
        2012-05-11  39946.993705  40415.041601  40883.774860  41425.025146
        2012-05-18  39175.982924  39598.048726  40041.284279  40560.354486
        2012-05-25  40660.650195  41114.719808  41570.923171  42139.820533
        2012-06-01  39725.001863  40255.053788  40784.080633  41434.134300
        2012-06-08  41366.538321  41910.954670  42520.404008  43214.619701
13_8    2012-05-04  34491.615313  34840.591215  35198.146505  35608.556221
        2012-05-11  34279.041680  34634.770849  35003.561951  35421.822395
        2012-05-18  33760.537615  34103.746991  34456.529838  34865.117151
        2012-05-25  34908.377295  35256.536221  35612.779042  36035.395849
        2012-06-01  34779.417991  35146.525219  35508.993702  35946.548308
        2012-06-08  36022.559997  36383.033895  36772.143660  37216.236910
19_8    2012-05-04  42464.240909  42923.204226  43389.901781  43920.836669
        2012-05-11  40910.079031  41386.311397  41875.415966  42442.779526
        2012-05-18  41035.697349  41499.577267  41981.635657  42538.233509
        2012-05-25  43884.202821  44353.302366  44844.571616  45426.152444
        2012-06-01  40393.470032  40874.401878  41364.976420  41948.689254
        2012-06-08  42167.123187  42636.881496  43152.153607  43746.608355
31_13   2012-05-04  42159.027758  42560.591434  42947.467435  43384.688079
        2012-05-11  42388.976611  42827.752960  43259.389896  43743.094999
        2012-05-18  43972.386334  44415.569549  44857.622497  45342.497778
        2012-05-25  43795.561711  44221.865008  44657.377335  45153.712202
        2012-06-01  42136.840498  42567.587497  42992.824976  43485.893974
        2012-06-08  42871.939638  43294.058632  43741.037036  44238.803701

                             0.8           0.9
item_id timestamp
4_4     2012-05-04  60410.784467  62098.907451
        2012-05-11  60883.496197  62634.183274
        2012-05-18  59461.960524  61245.336510
        2012-05-25  65508.058530  67321.868390
        2012-06-01  61320.798320  63209.139705
        2012-06-08  62393.292653  64343.359313
8_13    2012-05-04  25017.965737  25634.319322
        2012-05-11  25383.648759  26045.380080
        2012-05-18  25892.982981  26571.616359
        2012-05-25  26340.030454  27035.436725
        2012-06-01  25209.897940  25915.363860
        2012-06-08  26334.987730  27060.841142
1_13    2012-05-04  42603.742078  43650.912681
        2012-05-11  42090.678596  43171.267846
        2012-05-18  41216.614601  42325.424786
        2012-05-25  42825.547212  43981.422853
        2012-06-01  42193.598180  43470.853232
        2012-06-08  44031.596234  45401.462800
13_8    2012-05-04  36120.353998  36886.348127
        2012-05-11  35948.015241  36748.679211
        2012-05-18  35385.184862  36204.225878
        2012-05-25  36559.725382  37407.598471
        2012-06-01  36483.855674  37369.096768
        2012-06-08  37758.494358  38681.223324
19_8    2012-05-04  44602.208985  45680.921687
        2012-05-11  43170.475290  44347.502540
        2012-05-18  43264.781631  44479.189246
        2012-05-25  46163.119313  47429.703678
        2012-06-01  42686.719379  43981.725128
        2012-06-08  44498.081560  45843.959520
31_13   2012-05-04  43923.292243  44636.636550
        2012-05-11  44332.002253  45123.806128
        2012-05-18  45943.146876  46776.529505
        2012-05-25  45747.091179  46592.099877
        2012-06-01  44064.745490  44919.875058
        2012-06-08  44842.333756  45736.113553