In [1]:
import pandas as pd

In [2]:
!ls tmp/bicycle_image_metric_learning

images    train.csv

In [3]:
df = pd.read_csv('tmp/bicycle_image_metric_learning/train.csv')
df.shape

(8313, 3)

In [4]:
df

                    image         label  fold
0      181783211141_0.JPG  181783211141     0
1      181596348104_1.JPG  181596348104     2
2      171166528893_0.JPG  171166528893     0
3     191638747719_10.JPG  191638747719     0
4      151414046745_8.JPG  151414046745     4
...                   ...           ...   ...
8308   331602923356_7.JPG  331602923356     4
8309   121706104732_3.JPG  121706104732     3
8310   191646000094_7.JPG  191646000094     2
8311   291514841867_0.JPG  291514841867     3
8312   301702155234_8.JPG  301702155234     4

[8313 rows x 3 columns]

In [23]:
df.dtypes

image    object
label     int64
fold      int64
dtype: object

In [5]:
df['label'].nunique()

1148

In [9]:
df['label'].value_counts()

291524578289    12
191646652674    12
331614350414    12
151733952012    12
281761250668    12
                ..
121505320217     2
201318674569     2
281670204367     2
271943443788     2
351097439926     2
Name: label, Length: 1148, dtype: int64

In [10]:
df['label'].value_counts().describe()

count    1148.000000
mean        7.241289
std         3.548906
min         2.000000
25%         4.000000
50%         7.000000
75%        11.000000
max        12.000000
Name: label, dtype: float64

In [11]:
df['fold'].value_counts()

2    1663
4    1663
3    1663
0    1662
1    1662
Name: fold, dtype: int64

In [15]:
df[df['fold']==0]['label'].value_counts().describe()

count    229.000000
mean       7.257642
std        3.549029
min        2.000000
25%        4.000000
50%        7.000000
75%       11.000000
max       12.000000
Name: label, dtype: float64

In [17]:
df[df['fold']==1]['label'].value_counts().describe()

count    229.000000
mean       7.257642
std        3.549029
min        2.000000
25%        4.000000
50%        7.000000
75%       11.000000
max       12.000000
Name: label, dtype: float64

In [18]:
df[df['fold']==4]['label'].value_counts().describe()

count    230.000000
mean       7.230435
std        3.556645
min        2.000000
25%        4.000000
50%        7.000000
75%       11.000000
max       12.000000
Name: label, dtype: float64

In [42]:
df[df['fold']==0]['label'].nunique(), df[df['fold']==1]['label'].nunique(), df[df['fold']==2]['label'].nunique(), df[df['fold']==3]['label'].nunique(), df[df['fold']==4]['label'].nunique()

(229, 229, 230, 230, 230)

In [43]:
229 + 229 + 230 + 230 + 230

1148

In [44]:
df['label'].nunique()

1148

fold = [0,1,2,3,4]はlabelが全てユニークになっている

In [24]:
df[df['label']==281670204367]

                   image         label  fold
3118  281670204367_1.JPG  281670204367     1
3527  281670204367_0.JPG  281670204367     1

In [25]:
df[df['label']==351097439926]

                   image         label  fold
7587  351097439926_1.JPG  351097439926     4
7963  351097439926_0.JPG  351097439926     4

In [31]:
df_train = df[df['fold']!=4]
df_test = df[df['fold']==4]
df_train.shape, df_test.shape

((6650, 3), (1663, 3))

In [39]:
df_train['label'].nunique(), df_test['label'].nunique()

(918, 230)

In [37]:
# test dataのみにあるID
outsample_ids = list(set(df_test['label']) - set(df_train['label']))
len(outsample_ids)
# 全てユニーク

230

In [45]:
df_train.to_csv('tmp/train.csv', index=False)
df_test.to_csv('tmp/test.csv', index=False)