In [2]:
import pandas as pd

In [3]:
!ls tmp/SenCls_minimal_features_default

data---original-feature-importance.csv
data---original-feature-importance__No5.csv
fi_features.csv
fi_stats.csv

In [4]:
#df = pd.read_csv('tmp/SenCls_minimal_features_default/data---original-feature-importance.csv', skiprows=2)
df = pd.read_csv('tmp/SenCls_minimal_features_default/data---original-feature-importance__No5.csv', skiprows=2)
df

                      label  value
0   PS2__standard_deviation  1.000
1                 PS2__mean  0.821
2               PS1__median  0.448
3           PS2__sum_values  0.264
4               PS2__median  0.242
5             PS3__variance  0.236
6           PS6__sum_values  0.229
7   PS5__standard_deviation  0.134
8              PS6__maximum  0.121
9                 PS1__mean  0.105
10             PS1__maximum  0.080
11                PS4__mean  0.070
12             PS4__minimum  0.063
13                PS5__mean  0.052
14              PS3__median  0.049
15  PS3__standard_deviation  0.046
16             PS5__maximum  0.033
17                PS3__mean  0.028
18             PS2__maximum  0.026
19            PS5__variance  0.026
20             PS5__minimum  0.016
21             PS4__maximum  0.014
22  PS4__standard_deviation  0.014
23  PS1__standard_deviation  0.013
24             PS3__maximum  0.010
25             PS6__minimum  0.010
26          PS1__sum_values  0.009
27            PS4__variance  0.009
28              PS5__median  0.005
29              PS6__median  0.003
30             PS1__minimum  0.003
31            PS1__variance  0.001
32                PS6__mean  0.000
33              PS4__median  0.000

In [5]:
df['features'] = [i.split('__')[0] for i in df['label']]
df['stats'] = [i.split('__')[1] for i in df['label']]

In [12]:
#df.pivot()

In [9]:
df_f = df.groupby('features')['value'].sum().reset_index().sort_values('value', ascending=False)
df_f

  features  value
1      PS2  2.353
0      PS1  0.659
2      PS3  0.369
5      PS6  0.363
4      PS5  0.266
3      PS4  0.170

In [10]:
df_s = df.groupby('stats')['value'].sum().reset_index().sort_values('value', ascending=False)
df_s

                stats  value
4  standard_deviation  1.207
1                mean  1.076
2              median  0.747
5          sum_values  0.502
0             maximum  0.284
6            variance  0.272
3             minimum  0.092

In [11]:
#df_f.to_csv('tmp/SenCls_minimal_features_default/fi_features.csv', index=False)
#df_s.to_csv('tmp/SenCls_minimal_features_default/fi_stats.csv', index=False)

df_f.to_csv('tmp/SenCls_minimal_features_default/fi_features_No5.csv', index=False)
df_s.to_csv('tmp/SenCls_minimal_features_default/fi_stats_No5.csv', index=False)