In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

import os

## rinna/japanese-gpt-neox-3.6b-instruction-ppo  -  Test F1

In [2]:
!ls tmp/rinnna

ls: tmp/rinnna: No such file or directory

In [14]:
!ls tmp/rinna/preds_HS-Rinna

validation_predictions.csv     validation_raw_predictions.pkl

In [15]:
res_dir = ['preds_HS-Rinna',
'preds_HS-Rinna_Lr5e-4',
'preds_HS-Rinna_Batch32',
'preds_HS-Rinna_Lr5e-4_Batch32',
'preds_HS-Rinna_Epoch2',
'preds_HS-Rinna_Lr5e-4_Epoch2',
'preds_HS-Rinna_Batch32_Epoch2',
'preds_HS-Rinna_Lr5e-4_Batch32_Epoch2']

In [16]:
f_names = [os.path.join('tmp', 'rinna', f, 'validation_predictions.csv') for f in res_dir]
f_names

['tmp/rinna/preds_HS-Rinna/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Batch32/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Batch32_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32_Epoch2/validation_predictions.csv']

In [20]:
for f in f_names:
    print(f)
    df = pd.read_csv(f)
    print(df.shape)
    display(pd.crosstab(df['label'], df['pred_label']))
    print('Accuracy: {},  F1: {}'.format(accuracy_score(df['label'], df['pred_label']), f1_score(df['label'], df['pred_label'])))
    print('----------------------------\n')

tmp/rinna/preds_HS-Rinna/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           551  14
1             8  27

Accuracy: 0.9633333333333334,  F1: 0.7105263157894737
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           559   6
1            11  24

Accuracy: 0.9716666666666667,  F1: 0.7384615384615385
----------------------------

tmp/rinna/preds_HS-Rinna_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           551  14
1            10  25

Accuracy: 0.96,  F1: 0.6756756756756757
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            11  24

Accuracy: 0.9733333333333334,  F1: 0.75
----------------------------

tmp/rinna/preds_HS-Rinna_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            10  25

Accuracy: 0.975,  F1: 0.7692307692307692
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           561   4
1            13  22

Accuracy: 0.9716666666666667,  F1: 0.721311475409836
----------------------------

tmp/rinna/preds_HS-Rinna_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           557   8
1             9  26

Accuracy: 0.9716666666666667,  F1: 0.7536231884057971
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            12  23

Accuracy: 0.9716666666666667,  F1: 0.73015873015873
----------------------------

## cyberagent/calm2-7b-chat  -  Test F1

In [3]:
!ls tmp/cyber

preds_HS-Cyber                       preds_HS-Cyber_Lr5e-4
preds_HS-Cyber_Batch32               preds_HS-Cyber_Lr5e-4_Batch32
preds_HS-Cyber_Batch32_Epoch2        preds_HS-Cyber_Lr5e-4_Batch32_Epoch2
preds_HS-Cyber_Epoch2                preds_HS-Cyber_Lr5e-4_Epoch2

In [4]:
res_dir = ['preds_HS-Cyber',
'preds_HS-Cyber_Lr5e-4',
'preds_HS-Cyber_Batch32',
'preds_HS-Cyber_Lr5e-4_Batch32',
'preds_HS-Cyber_Epoch2',
'preds_HS-Cyber_Lr5e-4_Epoch2',
'preds_HS-Cyber_Batch32_Epoch2',
'preds_HS-Cyber_Lr5e-4_Batch32_Epoch2']

In [7]:
f_names = [os.path.join('tmp', 'cyber', f, 'validation_predictions.csv') for f in res_dir]
f_names

['tmp/cyber/preds_HS-Cyber/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Lr5e-4/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Batch32/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Lr5e-4_Batch32/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Epoch2/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Lr5e-4_Epoch2/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Batch32_Epoch2/validation_predictions.csv',
 'tmp/cyber/preds_HS-Cyber_Lr5e-4_Batch32_Epoch2/validation_predictions.csv']

In [8]:
for f in f_names:
    print(f)
    df = pd.read_csv(f)
    print(df.shape)
    display(pd.crosstab(df['label'], df['pred_label']))
    print('Accuracy: {},  F1: {}'.format(accuracy_score(df['label'], df['pred_label']), f1_score(df['label'], df['pred_label'])))
    print('----------------------------\n')

tmp/cyber/preds_HS-Cyber/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            15  20

Accuracy: 0.9666666666666667,  F1: 0.6666666666666666
----------------------------

tmp/cyber/preds_HS-Cyber_Lr5e-4/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           563   2
1            17  18

Accuracy: 0.9683333333333334,  F1: 0.6545454545454545
----------------------------

tmp/cyber/preds_HS-Cyber_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           556   9
1            12  23

Accuracy: 0.965,  F1: 0.6865671641791045
----------------------------

tmp/cyber/preds_HS-Cyber_Lr5e-4_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           562   3
1            15  20

Accuracy: 0.97,  F1: 0.689655172413793
----------------------------

tmp/cyber/preds_HS-Cyber_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           561   4
1            15  20

Accuracy: 0.9683333333333334,  F1: 0.6779661016949152
----------------------------

tmp/cyber/preds_HS-Cyber_Lr5e-4_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0
label
0           565
1            35

Accuracy: 0.9416666666666667,  F1: 0.0
----------------------------

tmp/cyber/preds_HS-Cyber_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           562   3
1            15  20

Accuracy: 0.97,  F1: 0.689655172413793
----------------------------

tmp/cyber/preds_HS-Cyber_Lr5e-4_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           561   4
1            14  21

Accuracy: 0.97,  F1: 0.7000000000000001
----------------------------