In [8]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

import os

In [3]:
!ls tmp/rinnna

preds_HS-Rinna                         preds_HS-Rinna_Lr5e-4
preds_HS-Rinna.1                       preds_HS-Rinna_Lr5e-4.1
preds_HS-Rinna_Batch32                 preds_HS-Rinna_Lr5e-4_Batch32
preds_HS-Rinna_Batch32.1               preds_HS-Rinna_Lr5e-4_Batch32.1
preds_HS-Rinna_Batch32_Epoch2          preds_HS-Rinna_Lr5e-4_Batch32_Epoch2
preds_HS-Rinna_Batch32_Epoch2.1        preds_HS-Rinna_Lr5e-4_Batch32_Epoch2.1
preds_HS-Rinna_Epoch2                  preds_HS-Rinna_Lr5e-4_Epoch2
preds_HS-Rinna_Epoch2.1                preds_HS-Rinna_Lr5e-4_Epoch2.1

In [14]:
!ls tmp/rinna/preds_HS-Rinna

validation_predictions.csv     validation_raw_predictions.pkl

In [15]:
res_dir = ['preds_HS-Rinna',
'preds_HS-Rinna_Lr5e-4',
'preds_HS-Rinna_Batch32',
'preds_HS-Rinna_Lr5e-4_Batch32',
'preds_HS-Rinna_Epoch2',
'preds_HS-Rinna_Lr5e-4_Epoch2',
'preds_HS-Rinna_Batch32_Epoch2',
'preds_HS-Rinna_Lr5e-4_Batch32_Epoch2']

In [16]:
f_names = [os.path.join('tmp', 'rinna', f, 'validation_predictions.csv') for f in res_dir]
f_names

['tmp/rinna/preds_HS-Rinna/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Batch32/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Batch32_Epoch2/validation_predictions.csv',
 'tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32_Epoch2/validation_predictions.csv']

In [20]:
for f in f_names:
    print(f)
    df = pd.read_csv(f)
    print(df.shape)
    display(pd.crosstab(df['label'], df['pred_label']))
    print('Accuracy: {},  F1: {}'.format(accuracy_score(df['label'], df['pred_label']), f1_score(df['label'], df['pred_label'])))
    print('----------------------------\n')

tmp/rinna/preds_HS-Rinna/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           551  14
1             8  27

Accuracy: 0.9633333333333334,  F1: 0.7105263157894737
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           559   6
1            11  24

Accuracy: 0.9716666666666667,  F1: 0.7384615384615385
----------------------------

tmp/rinna/preds_HS-Rinna_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           551  14
1            10  25

Accuracy: 0.96,  F1: 0.6756756756756757
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            11  24

Accuracy: 0.9733333333333334,  F1: 0.75
----------------------------

tmp/rinna/preds_HS-Rinna_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            10  25

Accuracy: 0.975,  F1: 0.7692307692307692
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           561   4
1            13  22

Accuracy: 0.9716666666666667,  F1: 0.721311475409836
----------------------------

tmp/rinna/preds_HS-Rinna_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           557   8
1             9  26

Accuracy: 0.9716666666666667,  F1: 0.7536231884057971
----------------------------

tmp/rinna/preds_HS-Rinna_Lr5e-4_Batch32_Epoch2/validation_predictions.csv
(600, 5)

pred_label    0   1
label
0           560   5
1            12  23

Accuracy: 0.9716666666666667,  F1: 0.73015873015873
----------------------------