In [2]:
import pandas as pd
import pickle

In [8]:
!ls ../tmp/DAI_document_classification_TRAIN

data.csv images

In [9]:
df_train = pd.read_csv('../tmp/DAI_document_classification_TRAIN/data.csv')
df_train.shape

(135, 2)

In [11]:
df_train.head()

                   image                   class
0  images/doc_000091.png                  resume
1  images/doc_000072.png                  resume
2  images/doc_000128.png  scientific_publication
3  images/doc_000501.png                  resume
4  images/doc_000534.png  scientific_publication

In [10]:
df_test = pd.read_csv('../tmp/DAI_document_classification_TEST/data.csv')
df_test.shape

(30, 2)

In [5]:
!ls outputs

ocr_res_test.pkl  ocr_res_train.pkl

In [13]:
with open('outputs/ocr_res_train.pkl', mode='rb') as f:
    res_train = pickle.load(f)

with open('outputs/ocr_res_test.pkl', mode='rb') as f:
    res_test = pickle.load(f)

In [16]:
len(res_train), len(res_test)

(135, 30)

In [25]:
res_test.keys()

dict_keys(['doc_000832.png', 'doc_000076.png', 'doc_000584.png', 'doc_000101.png', 'doc_000279.png', 'doc_000248.png', 'doc_000802.png', 'doc_000089.png', 'doc_000097.png', 'doc_000509.png', 'doc_000550.png', 'doc_000349.png', 'doc_000596.png', 'doc_000070.png', 'doc_000485.png', 'doc_000655.png', 'doc_000513.png', 'doc_000674.png', 'doc_000175.png', 'doc_000864.png', 'doc_000281.png', 'doc_000016.png', 'doc_000558.png', 'doc_000130.png', 'doc_000363.png', 'doc_000045.png', 'doc_000551.png', 'doc_000297.png', 'doc_000402.png', 'doc_000745.png'])

In [36]:
res_test['doc_000832.png'][:10]

['ALCH',
 'Vol. 271, No. 40, 1ssue of October 4 p. 25041-25048, 199',
 'can Ssciety for Biochemistry and Molecular Biology, Inc',
 'Printed in U.S.A.',
 'ATP-facilitated Chromatin Assembly with a Nucleoplasmin-like',
 'Protein from Drosophila melanogaster*',
 '(Received for publication, June 7, 1996, and in revised from, July 11, 1996)',
 'Takashi ItoJessica K.TylerMichael Bulger, Ryuji Kobayashis, and James T. Kadonaga',
 'From the Department of Biology and Center for Molecular GeneticsUniversity of California, San Diego, L Jolla',
 'California 92093-0347 and Cold Spring Harbor Laboratory,Cold Spring Harbor, New York 11724']

In [37]:
'\n'.join(res_test['doc_000832.png'][:10])

'ALCH\nVol. 271, No. 40, 1ssue of October 4 p. 25041-25048, 199\ncan Ssciety for Biochemistry and Molecular Biology, Inc\nPrinted in U.S.A.\nATP-facilitated Chromatin Assembly with a Nucleoplasmin-like\nProtein from Drosophila melanogaster*\n(Received for publication, June 7, 1996, and in revised from, July 11, 1996)\nTakashi ItoJessica K.TylerMichael Bulger, Ryuji Kobayashis, and James T. Kadonaga\nFrom the Department of Biology and Center for Molecular GeneticsUniversity of California, San Diego, L Jolla\nCalifornia 92093-0347 and Cold Spring Harbor Laboratory,Cold Spring Harbor, New York 11724'

In [38]:
print('\n'.join(res_test['doc_000832.png'][:10]))

ALCH
Vol. 271, No. 40, 1ssue of October 4 p. 25041-25048, 199
can Ssciety for Biochemistry and Molecular Biology, Inc
Printed in U.S.A.
ATP-facilitated Chromatin Assembly with a Nucleoplasmin-like
Protein from Drosophila melanogaster*
(Received for publication, June 7, 1996, and in revised from, July 11, 1996)
Takashi ItoJessica K.TylerMichael Bulger, Ryuji Kobayashis, and James T. Kadonaga
From the Department of Biology and Center for Molecular GeneticsUniversity of California, San Diego, L Jolla
California 92093-0347 and Cold Spring Harbor Laboratory,Cold Spring Harbor, New York 11724

In [35]:
res_train_str = ['\n'.join(res_train[k]) for k in res_train.keys()]
res_test_str = ['\n'.join(res_test[k]) for k in res_test.keys()]

len(res_train_str), len(res_test_str)

(135, 30)

In [44]:
df_res_train = pd.DataFrame({'img_file':res_train.keys(), 'ocr_text':res_train_str})
df_res_test = pd.DataFrame({'img_file':res_test.keys(), 'ocr_text':res_test_str})

df_res_train.shape, df_res_test.shape

((135, 2), (30, 2))

In [45]:
df_res_train.head()

         img_file                                           ocr_text
0  doc_000091.png  PETER A.DANELO\nShareholder, Seattle Office\nP...
1  doc_000072.png  CLARKE\n1\nName: Paul Brian Sydenham CLARKE\nP...
2  doc_000128.png  Pror, Xot. Aad, Sei. I8\nd, 71 Nn. 4, pp, 414 ...
3  doc_000501.png  GRANT NUMBER:\nBIOGRAPHICAL SKETCH\nGive the f...
4  doc_000534.png  DEFENDANT'S\nWORLDHEALTH ORGANIZATION\nDJI-255...

In [49]:
df_train_ocr = pd.concat([df_train, df_res_train], axis=1)
df_test_ocr = pd.concat([df_test, df_res_test], axis=1)

df_train_ocr.shape, df_test_ocr.shape

((135, 4), (30, 4))

In [51]:
df_train_ocr.head()

,image,class,img_file,ocr_text
0,images/doc_000091.png,resume,doc_000091.png,"PETER A.DANELO\nShareholder, Seattle Office\nP..."
1,images/doc_000072.png,resume,doc_000072.png,CLARKE\n1\nName: Paul Brian Sydenham CLARKE\nP...
2,images/doc_000128.png,scientific_publication,doc_000128.png,"Pror, Xot. Aad, Sei. I8\nd, 71 Nn. 4, pp, 414 ..."
3,images/doc_000501.png,resume,doc_000501.png,GRANT NUMBER:\nBIOGRAPHICAL SKETCH\nGive the f...
4,images/doc_000534.png,scientific_publication,doc_000534.png,DEFENDANT'S\nWORLDHEALTH ORGANIZATION\nDJI-255...

In [56]:
#df_train_ocr

In [53]:
#df_test_ocr

In [57]:
df_train_ocr.to_csv('DAI_document_classification_TRAIN_ocr.csv', index=False)
df_test_ocr.to_csv('DAI_document_classification_TEST_ocr.csv', index=False)