In [6]:
import pandas as pd
from sklearn.metrics import root_mean_squared_error

In [3]:
!ls ../DAI_results

default      no_covariate

In [4]:
!ls ../DAI_results/default

h2oai_experiment_wm-default-AllCovariate_custom_dataset_walmart_ts_6_fcst_grp_test_csv_predictions.csv
h2oai_experiment_wm-default-AllCovariate_custom_dataset_walmart_ts_6_fcst_grp_train_csv_predictions.csv
report_wm-default-AllCovariate_cf326492-f3f4-11ef-a69c-4e030d02e593.docx

## default（説明変数あり）モデル

In [5]:
df_test_res_all = pd.read_csv('../DAI_results/default/h2oai_experiment_wm-default-AllCovariate_custom_dataset_walmart_ts_6_fcst_grp_test_csv_predictions.csv')
print(df_test_res_all.shape)
df_test_res_all.head()

(36, 13)

,Store,Dept,Date,Weekly_Sales,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,IsHoliday,Weekly_Sales.predicted,Weekly_Sales.predicted.lower,Weekly_Sales.predicted.upper
0,4,4,2012/5/4,60576.41,13737.91,-1.0,93.65,6993.97,4541.89,0,64236.560,60506.876338,68422.083109
1,4,4,2012/5/11,57583.94,20499.88,86.0,103.05,5005.96,3815.16,0,58848.812,55119.130244,63034.337015
2,4,4,2012/5/18,60832.91,6531.12,-1.0,99.91,2290.18,2521.84,0,61754.523,58024.841182,65940.047952
3,4,4,2012/5/25,57781.87,4330.02,436.0,862.31,3268.41,3749.53,0,58100.695,54371.013057,62286.219827
4,4,4,2012/6/1,62758.52,10165.22,8.6,47.93,2676.33,4896.34,0,62079.150,58349.466182,66264.672952

In [7]:
# 全体
root_mean_squared_error(y_true=df_test_res_all['Weekly_Sales'], y_pred=df_test_res_all['Weekly_Sales.predicted'])

1706.2886266681744

In [32]:
# Store&Dept別
rmse_by_category = df_test_res_all.groupby(['Store','Dept']).apply(lambda g: root_mean_squared_error(g['Weekly_Sales'], g['Weekly_Sales.predicted']))
rmse_by_category.reset_index(name="RMSE")

/var/folders/50/glkvvhjx03g22fwy2r0tgylr0000gn/T/ipykernel_20696/2206236473.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rmse_by_category = df_test_res_all.groupby(['Store','Dept']).apply(lambda g: root_mean_squared_error(g['Weekly_Sales'], g['Weekly_Sales.predicted']))

   Store  Dept         RMSE
0      1    13   840.577020
1      4     4  1854.886765
2      8    13  1311.176632
3     13     8  1608.097846
4     19     8  2256.882662
5     31    13  1980.572755

In [33]:
#df_subset = df_test_res_all[(df_test_res_all['Store']==4) & (df_test_res_all['Dept']==4)]
#root_mean_squared_error(y_true=df_subset['Weekly_Sales'], y_pred=df_subset['Weekly_Sales.predicted'])

## no_covariate（説明変数なし）モデル

In [35]:
!ls ../DAI_results/no_covariate

group-metrics-all.csv
h2oai_experiment_wm-default-NoCovariate_custom_dataset_walmart_ts_6_fcst_grp_test_csv_predictions.csv
h2oai_experiment_wm-default-NoCovariate_custom_dataset_walmart_ts_6_fcst_grp_train_csv_predictions.csv
report_wm-default-NoCovariate_ba282500-f3f4-11ef-a69c-4e030d02e593.docx

In [36]:
df_test_res_no = pd.read_csv('../DAI_results/no_covariate/h2oai_experiment_wm-default-NoCovariate_custom_dataset_walmart_ts_6_fcst_grp_test_csv_predictions.csv')
print(df_test_res_no.shape)
df_test_res_no.head()

(36, 7)

,Store,Dept,Date,Weekly_Sales,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,IsHoliday,Weekly_Sales.predicted,Weekly_Sales.predicted.lower,Weekly_Sales.predicted.upper
0,4,4,2012/5/4,60576.41,13737.91,-1.0,93.65,6993.97,4541.89,0,64236.560,60506.876338,68422.083109
1,4,4,2012/5/11,57583.94,20499.88,86.0,103.05,5005.96,3815.16,0,58848.812,55119.130244,63034.337015
2,4,4,2012/5/18,60832.91,6531.12,-1.0,99.91,2290.18,2521.84,0,61754.523,58024.841182,65940.047952
3,4,4,2012/5/25,57781.87,4330.02,436.0,862.31,3268.41,3749.53,0,58100.695,54371.013057,62286.219827
4,4,4,2012/6/1,62758.52,10165.22,8.6,47.93,2676.33,4896.34,0,62079.150,58349.466182,66264.672952

In [37]:
# 全体
root_mean_squared_error(y_true=df_test_res_no['Weekly_Sales'], y_pred=df_test_res_no['Weekly_Sales.predicted'])

1687.6772661512641

In [39]:
# Store&Dept別
rmse_by_category = df_test_res_no.groupby(['Store','Dept']).apply(lambda g: root_mean_squared_error(g['Weekly_Sales'], g['Weekly_Sales.predicted']))
rmse_by_category_no = rmse_by_category.reset_index(name="RMSE")
rmse_by_category_no

/var/folders/50/glkvvhjx03g22fwy2r0tgylr0000gn/T/ipykernel_20696/3518216475.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rmse_by_category = df_test_res_no.groupby(['Store','Dept']).apply(lambda g: root_mean_squared_error(g['Weekly_Sales'], g['Weekly_Sales.predicted']))

   Store  Dept         RMSE
0      1    13  1028.869292
1      4     4  2448.057286
2      8    13  1146.551380
3     13     8  1393.910719
4     19     8  1810.387620
5     31    13  1871.603682

In [40]:
rmse_by_category_no['RMSE'].mean()

1616.5633296408703