In [8]:
import os
import glob

import pandas as pd
import cv2

In [2]:
!ls tmp

_tmp                         cifar10_sample_DAI_train.zip
archive.zip                  cifar10_sample_HT
cifar10_sample_DAI_test      cifar10_sample_HT.zip
cifar10_sample_DAI_test.zip  images
cifar10_sample_DAI_train     train_v2.csv

In [3]:
!ls tmp/images | wc

   50000   50000  488894

In [5]:
!ls tmp/cifar10_sample_HT

images    test.csv  train.csv

In [6]:
!ls tmp/cifar10_sample_HT/images | wc

   12000   12000  117332

In [12]:
files = glob.glob("tmp/cifar10_sample_HT/images/*")
print(len(files))
files[:10]

12000

['tmp/cifar10_sample_HT/images/20037.png',
 'tmp/cifar10_sample_HT/images/38678.png',
 'tmp/cifar10_sample_HT/images/8820.png',
 'tmp/cifar10_sample_HT/images/34042.png',
 'tmp/cifar10_sample_HT/images/348.png',
 'tmp/cifar10_sample_HT/images/15932.png',
 'tmp/cifar10_sample_HT/images/25629.png',
 'tmp/cifar10_sample_HT/images/36133.png',
 'tmp/cifar10_sample_HT/images/31884.png',
 'tmp/cifar10_sample_HT/images/36127.png']

In [13]:
H, W, C = [], [], []
v_mean, v_min, v_max = [], [], []
im_pathes = []
for f in files:
    #im_path = os.path.join('tmp', 'additional', f)
    #im_pathes.append(im_path)
    im = cv2.imread(f)
    H.append(im.shape[0])
    W.append(im.shape[1])
    C.append(im.shape[2])
    v_mean.append(im.mean())
    v_min.append(im.min()*1.0)
    v_max.append(im.max()*1.0)
df_shape = pd.DataFrame({'H':H, 'W':W, 'C':C, 'val_mean':v_mean, 'val_min':v_min, 'val_max':v_max})
df_shape.shape

(12000, 6)

In [14]:
df_shape

        H   W  C    val_mean  val_min  val_max
0      32  32  3  128.983724      8.0    248.0
1      32  32  3  214.869792     30.0    255.0
2      32  32  3  137.117513     13.0    233.0
3      32  32  3  115.668620     19.0    241.0
4      32  32  3   93.056315      8.0    192.0
...    ..  .. ..         ...      ...      ...
11995  32  32  3   87.563151     14.0    243.0
11996  32  32  3  104.201823      6.0    255.0
11997  32  32  3  125.151042      0.0    250.0
11998  32  32  3  102.120768      4.0    248.0
11999  32  32  3   85.591471      0.0    253.0

[12000 rows x 6 columns]

In [15]:
df_shape.describe()

             H        W        C      val_mean       val_min       val_max
count  12000.0  12000.0  12000.0  12000.000000  12000.000000  12000.000000
mean      32.0     32.0      3.0    121.208114     11.655583    240.114833
std        0.0      0.0      0.0     32.176731     14.398301     20.174371
min       32.0     32.0      3.0     21.643229      0.000000    102.000000
25%       32.0     32.0      3.0     99.732585      0.000000    232.000000
50%       32.0     32.0      3.0    119.626139      7.000000    249.000000
75%       32.0     32.0      3.0    140.648031     18.000000    255.000000
max       32.0     32.0      3.0    238.089518    117.000000    255.000000

画像サイズはすべて32*32